apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 1h
  url: https://grafana.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: grafana
      version: "7.x.x"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: monitoring
  valuesFrom:
    - kind: Secret
      name: grafana-login
      valuesKey: USER
      targetPath: adminUser

    - kind: Secret
      name: grafana-login
      valuesKey: PASSWORD
      targetPath: adminPassword
  values:
    grafana.ini:
      server:
        root_url: "%(protocol)s://%(domain)s/grafana"
        serve_from_sub_path: true
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: nginx
        #nginx.ingress.kubernetes.io/rewrite-target: /$2
      hosts:
        - host: dndevops.laurens.me
          paths:
            - path: /grafana
              pathType: Prefix
          #- path: /grafana(/|$)(.*)
          #  pathType: ImplementationSpecific
    service:
      type: ClusterIP
      targetPort: 3000
      port: 80
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Loki
            type: loki
            access: proxy
            url: http://loki:3100
            isDefault: true
