name: Deploy Azure Resources

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDS }}

      - name: Deploy Bicep
        run: |
          az deployment sub create \
            --location westeurope \
            --template-file azure/main.bicep \
            --parameters adminPassword='${{ secrets.POSTGRESQL_PASSWORD }}'